<div class="navbar navbar-static-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
    {# For a basic app, it may not be worth having this nav collapse piece, but as I may want/need it in other templates, I'm commenting it out.
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    #}

    <!-- Be sure to leave the brand out there if you want it shown -->
    <a class="brand" href="#">Awesome Application</a>

    {# Like above, we may want this later, but for now I'm commenting it out using the Twig syntax
    <!-- Everything you want hidden at 940px or less, place within here -->
    <div class="nav-collapse collapse">
    </div>

    #}
    </div>
  </div>
</div>
