{% extends "layout/main.html.twig" %}

{% block title %}
Awesome App - 404 Not Found
{% endblock %}

{% block header %}
<h2>404 Not Found</h2>
{% endblock %}

{% block content %}
<p>The page you are looking for cannot be found.</p>
<p>Please verify the URL with your administrator.</p>
{% endblock %}
