{% extends "layout/main.html.twig" %}

{% block title %}
Awesome Application
{% endblock %}

{% block header %}
Awesome Application: Home
{% endblock %}

{% block content %}
<p>Welcome to our awesome application!</p>
<p>Try visiting this URL to see a Hello World. You can also change 'world' to whatever, to see that instead.</p>
<p><a href="hello/world">hello/world</a></p>
{% endblock %}
